:root {
  /* Colors Rebranding */
  --w-black: #000000;
  --w-black1: #0000001a;

  /* gray-scale */
  --w-grey: #767981;
  --w-grey1: #c5cbda;
  --w-grey2: #f2f3f7;

  /* white-scale */
  --w-white: #ffffff;
  --w-white1: #fdeae8;
  --w-white2: #eef3fd;

  /* Colors */
  --color-primary: #e63020;
  --color-blue: #5785ed;
  --color-green: #25d366;
}
